<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Envios.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="XML_JSON.js"></script>
    <script>
        $(document).ready(function () {
            $(".Info_personal").fadeIn(1000);
            $("#encabezado").click(function () {
                $(".encabezado").animate({
                    width: '-=350px',
                });
            });
            $("#integrantes").click(function () {
                $("#lista-integrantes").fadeToggle();
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid p-5" data-ng-app="">
        <div id="encabezado" class="row">
            <div class="encabezado col-md">
                <img class="mx-3" src="box.svg" alt="logo" width="60px">
                <h1 class="encabezado-text col"><span>
                        envios
                    </span>
                    <span class="com">.com</span>
                </h1>
            </div>
        </div>

        <h3 class="i row my-3">Integrantes:</h3>
        <div class="int row my-3 p-2">
            <button id="integrantes" class="btn btn-1c">Integrantes</button>
            <ul id="lista-integrantes">
                <li id="div1 col">Sergio Iván Alcázar Becerra</p>
                <li id="div2 col">Diana Alicia Cadena Hernández</p>
                <li id="div3 col">Yoltic Jassiel García Guzmán</p>
            </ul>
        </div>

        <form class="form needs-validation" novalidate name="personal-info" id="personal-info" method="POST">

            <fieldset class="Info_personal mt-5 px-3 bg-light">
                <legend>
                    <h2>Información personal</h2>
                </legend>
                <div class="my-2 row d-flex justify-content-center">
                    <div id="consulta">

                    </div>
                </div>
                <div class="row mx-2">
                    <h2>Añadir nuevo registro</h2>
                </div>
                <div class="row m-2">
                    <h5>Bienvenido
                        <span>
                            {{firstName + ' ' + middleName + ' ' + lastName}}
                        </span>
                    </h5>
                </div>
                <div class="per1 p-2 row">
                    <div class="form-group col-md-4">
                        <h3>Nombres:</h3>
                        <input type="text" id="nombre" name="first-name" class="form-control" required
                            ng-model="firstName">
                        <div class="invalid-feedback">
                            Debe de escribir un nombre.
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <h3>Apellido paterno</h3>
                        <input type="text" name="middle-name" class="form-control" required ng-model="middleName">
                        <div class="invalid-feedback">
                            Debe de escribir un apellido.
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <h3>Apellido materno</h3>
                        <input type="text" name="last-name" class="form-control" required ng-model="lastName">
                        <div class="invalid-feedback">
                            Debe de escribir un apellido.
                        </div>
                    </div>

                </div>
                <div class="per2 row p-2">
                    <div class="form-group col-md-2">
                        <h3>Edad</h3>
                        <input type="number" id="age" name="age" class="form-control" min="0" required>
                        <div class="invalid-feedback">
                            Debe de especificar edad.
                        </div>
                    </div>
                    <div class="form-group col-md-2 justify-content-center">
                        <h3>Género</h3>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" id="genH" name="gender" value="Hombre" id="btn-hombre"
                                    autocomplete="off" required>
                                Hombre
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" id="genM" name="gender" value="Mujer" id="btn-mujer"
                                    autocomplete="off">
                                Mujer
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" id="genO" name="gender" value="Otro" id="btn-otro"
                                    autocomplete="off"> Otro
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <h3>Correo electrónico</h3>
                        <input type="email" id="correo" name="email" id="" class="form-control" required
                            ng-model="text">
                        <span ng-show="personalInfo.email.$error.email">No es un email válido</span>
                    </div>
                    <div class="form-group col-md-3">
                        <h3>Número telefónico</h3>
                        <input type="tel" id="cel" name="phone-number" id="" class="form-control">
                    </div>
                    <button id="continue" type="submit" class="btn btn-1c" ng-click="shippingVisible=true"
                        onclick="continuar()">Continuar</button>
                </div>
            </fieldset>
        </form>
        <form class="form needs-validation" novalidate name="shipping-info" id="shipping-info"
            action="alta-direccion.php" method="POST">
            <fieldset class="mt-5 row px-3 bg-light" id="Info_envio" ng-show="shippingVisible">
                <legend>
                    <h2>Datos de envío</h2>
                </legend>
                <div class="env1 row">
                    <div class="form-group col-md">
                        <h3>Calle y numero</h3>
                        <input type="text" name="address" id="i1" class="form-control" ng-model="address">
                    </div>
                    <div class="form-group col-md">
                        <h3>Municipio / Alcaldia</h3>
                        <input type="text" name="municipality" id="i2" class="form-control" ng-model="municipality">
                    </div>
                    <div class="form-group col-md">
                        <h3>Ciudad / Estado</h3>
                        <input type="text" name="city-state" id="i3" class="form-control" ng-model="cityState">
                    </div>
                    <div class="form-group col-md">
                        <h3>Código postal</h3>
                        <input type="text" name="zip-code" id="i4" class="form-control" ng-model="zipCode">
                    </div>
                </div>
                <div class="row env1 m-3">
                    <h5>Dirección de envío: {{address + ', ' + municipality + ', ' + cityState + ', CP ' + zipCode}}
                    </h5>
                </div>
                <hr color="white">
                <div class="env2 row">
                    <div class="form-group col">
                        <h3>Número de unidades</h3>
                        <select class="form-control" name="units" id="units">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <h3>Forma de envío</h3>
                        <div class="form-check">
                            <div class="row">
                                <input class="form-check-input" type="radio" name="shipping" value="Premium"
                                    id="shipping1">
                                <label class="form-check-label" for="shipping1">Envío premium (Entrega el mismo
                                    día) <span class="badge badge-primary">Nuevo</span></label>
                            </div>
                            <div class="row">
                                <input class="form-check-input" type="radio" name="shipping" value="VIP" id="shipping2">
                                <label class="form-check-label" for="shipping2">Envío VIP<span
                                        class="badge badge-primary">Nuevo</span></label>
                            </div>
                            <div class="row">
                                <input class="form-check-input" type="radio" name="shipping" value="General"
                                    id="shipping3">
                                <label class="form-check-label" for="shipping3">Envío general (Entregas de 3 a 5
                                    semanas) <span class="badge badge-success">Aplican códigos de
                                        descuento</span></label>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <input class="form-check-input" type="checkbox" name="envelope" value="regalo" ng-checked="regalo()"
                        id="">Envolver para regalo<br />
                    <div ng-show="showMe">
                        <input type="text" class="form-control" placeholder="Escribe aquí tu felicitación!">
                    </div>
                </div>
            </fieldset>
            <div style="margin: 10px;">
                <button type="submit" class="btn btn-1c" onclick="enviarFormulario()">Enviar</button>
                <button class="btn btn-1c">Cancelar</button>
                <a role="button" class="btn btn-info" href="buscar.html">Buscar</a>
                <a role="button" class="btn btn-info" href="baja.html">Dar de baja</a>
            </div>
        </form>
    </div>

    <script>
        //implementación de xml y JSON


        // Example starter JavaScript for disabling form submissions if there are invalid fields

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');

                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        $(document).ready(function () {
            $("#personal-info").submit(function (e) {
                //Stops submit button from refreshing page.
                e.preventDefault();
                var form_data = new FormData(this);
                $.ajax({
                    type: "POST",
                    url: 'alta-persona.php',
                    data: form_data,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function (response) {
                        console.log(JSON.stringify(response));
                        console.log('success');
                        consultar();
                    },
                    error: function (response) {
                        console.log(response);
                        console.log('failure');
                    }
                });
            });
            consultar();

        });

        function consultar() {
            $.get("consulta.php", function (data, status) {
                if (status === "success") {
                    $("#consulta").html(data);
                }
            })
        }
    </script>
</body>

</html>